*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
h1{
    font-size: 34px;
    font-weight: bolder;
}
div.wh{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
div.wh1,div.wh2,div.wh3,div.wh4,div.wh5{
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe{
    margin: 12px;
    width: 400px;
}